<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Interview Cake Dashboard</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}" defer></script>
</head>
<body>
    <q id="jordan"></q>
    <q>I don't sample my chicken.</q>
    <q>Build something you actually like.</q>
    <q>"Interview Cake is a fucking treasure trove."</q>
</body>
</html>