<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Interview Cake Dashboard</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='index.js') }}" type="text/javascript" defer></script>
</head>
<body>
    <q id="jordan">&nbsp;</q>
    <q>Build something you actually like.</q>
    <q>Never make the users’ experience worse just to make your experience better.</q>
    <q>See the full stack.</q>
    <q>Build the best possible, not the best yet.</q>
    <q class="testimonial">"Interview Cake is a fucking treasure trove."</q>
</body>
</html>
